
.welcomingText {
  color: Black;
  font-family: Coursive, Verdana, sans-serif;
  vertical-align: top;
}

section .row img {
  margin: 0 0 2rem;
  height: 13rem;
  width: 70%;
}

.pageText {
  margin-top: 25rem;
}

footer {
  margin-top: 2rem;
}

#homePageImages {
  height = 40rem;
}
